table {
	border-spacing: 0;
	width: 100%;
	border: 1px solid #008080;
	border-radius: 20px;
}

th, td {
    text-align: left;
    padding: 16px;
}

th {
	background: #20B2AA;
	border: 1px solid #dddddd;
}

td {
	background: #87CEFA;
}